:root {
    --font-wight-normal: 500;
    --font-weight-bold: 700;
    --btn-border-radius: 100px;
    --main-text-color: #333333;
    --text-color-black: #000;
}

@font-face {
    font-family: "Roboto";
    font-display: swap;
    font-weight: 400;
    src: url("../fonts/roboto-v30-latin-regular.woff2") format("woff2"),
        url("../fonts/roboto-v30-latin-regular.woff") format("woff");
}

@font-face {
    font-family: "Roboto";
    font-display: swap;
    font-weight: 500;
    src: url("../fonts/roboto-v30-latin-500.woff2") format("woff2"),
        url("../fonts/roboto-v30-latin-500.woff") format("woff");
}

@font-face {
    font-family: "Roboto";
    font-display: swap;
    font-weight: 700;
    src: url("../fonts/roboto-v30-latin-700.woff2") format("woff2"),
        url("../fonts/roboto-v30-latin-700.woff") format("woff");
}

* {
    box-sizing: border-box;
}

img {
    display: block;
    height: auto;
}

body {
    margin: 0;
    font-family: "Roboto";
    font-weight: 400;
    overflow-x: hidden;
}

.container {
    max-width: 1340px;
    margin: 0 auto;
    padding: 0px 20px;
}

/* Site Header */

.site-header {
    padding: 40px 0;
    background-image: url("../images/hero-bg.png");
}


.site-header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sitenav-list {
    display: flex;
    align-items: center;
    margin: 0;
    padding-left: 0;
    list-style: none;
}

.sitenav-link {
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #333333;
    text-decoration: none;
}

.sitenav-item:nth-child(2) {
    margin: 0 40px;
}

.create-plan {
    display: inline-block;
    padding: 16px 24px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 1px;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 100px;
}


/* Hero */


.hero {
    padding-left: 100px;
    background-image: url("../images/hero-bg.png");
}

.hero-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-info-wrapper {
    width: 465px;
}

.hero-title {
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
}

.hero-desc {
    margin-bottom: 34px;
    line-height: 24px;
}

.hero-link {
    background-color: #0A775F;
}


.hero-img-box {
    position: relative;
    z-index: 1;
    right: -5%;
}

.hero-img-box::before {
    position: absolute;
    top: -9%;
    left: -10%;
    z-index: 2;
    width: 160px;
    height: 160px;
    background-image: url("../images/hero-img-alfred.png");
    background-repeat: no-repeat;
    background-size: contain;
    /* transform: translate(-43% , -38%); */
    content: "";
}

/* Our Collection */

.collection-section {
    background-image: url("../images/collection-bg.png");
    margin: 20px;
}

.collection-wrapper {
    width: 1400px;
    margin: 0 auto;
    background-image: url("../images/collection-bg.png");
}

.collection-title-wrap {
    text-align: center;
    padding: 50px 0px;
}

.collection-title {
    margin: 0;
    margin-bottom: 83px;
    font-size: 50px;
}

.collection-list {
    margin: 0;
    padding: 0;
}

.collection-item {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 143px;
}

.collection-item:nth-child(even) {
    margin-left: 300px;
}

.collection-item::before {
    position: absolute;
    width: 402px;
    height: 300px;
    background-repeat: no-repeat;
    content: "";
}

.collection-item:first-child::before {
    background-image: url("../images/leaf-danche.svg");
    top: 0;
    transform: translateX(-90%) translateY(-50%);
}

.collection-item:nth-child(2)::after {
    position: absolute;
    z-index: 1;
    right: 0;
    width: 392px;
    height: 477px;
    background-image: url("../images/leaf-gran.svg");
    background-repeat: no-repeat;
    transform: translateX(60%) translateY(50%);
    content: "";
}

.collection-item:nth-child(3)::after {
    position: absolute;
    right: 0;
    width: 392px;
    height: 477px;
    background-image: url("../images/leaf-piccolli.svg");
    background-repeat: no-repeat;
    transform: translateX(90%) translateY(0%);
    content: "";
}

.collection-item:last-child::before {
    top: 0;
    left: 0;
    background-image: url("../images/leaf-planalto.svg");
    transform: translateX(-140%) translateY(-10%);
}

.collection-item-img {
    margin-right: 117px;
}

.collection-item-text-wrap {
    width: 453px;
}

.collection-item-title {
    margin: 0;
    margin-bottom: 10px;
    color: var(--main-text-color);
    font-size: 48px;
    font-weight: var(--font-wight-normal);
}

.collection-item-text {
    margin: 0;
    color: var(--main-text-color);
    line-height: 34px;
    font-size: 22px;
}

/* Why CHoose us */

.choose-us-section {
    position: relative;
    margin: 0px 20px 380px 20px;
    padding-top: 50px;
    padding-bottom: 410px;
    background-image: url("../images/choose-us-bg.jpg");
}

.choose-title-wrap {
    margin: 0 auto;
    width: 581px;
    text-align: center;
}

.choose-title {
    margin: 0;
    margin-bottom: 10px;
    font-size: 50px;
    color: #fff;
    line-height: 58px;
}

.choose-text {
    margin: 0;
    color: #fff;
    line-height: 28px;
    font-weight: 400;
    opacity: 0.8;
}

.choose-list {
    position: absolute;
    top: 283px;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.choose-item {
    width: 418px;
}

.choose-item:first-child::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 140px;
    height: 144px;
    background-image: url("../images/choos-item-before.svg");
    transform: translateX(-40%) translateY(-38%);
    content: "";
}

.choose-item:not(:last-child) {
    margin-right: 20px;
}

.choose-item-img {
    margin-bottom: 28px;
}

.choose-item-title {
    margin: 0;
    margin-bottom: 10px;
    color: var(--main-text-color);
    font-size: 30px;
}

.choose-item-descr {
    margin: 0;
    color: var(--main-text-color);
    line-height: 28px;
    font-size: 18px;
}

/* How it works */

.works-section {
    margin-bottom: 50px;
    padding: 50px 0px;
    background-image: url("../images/works-bg.png");
}

.works-title-wrap {
    margin: 0 auto;
    text-align: center;
}

.works-title {
    margin: 0;
    margin-bottom: 80px;
    color: #fff;
    font-size: 50px;
}

.choose-anyone {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 966px;
    margin-bottom: 20px;
    background-image: url("../images/dotted.svg");
    background-repeat: no-repeat;
    background-position: center;

}

.choose-anyone-item {
    display: block;
    width: 60px;
    height: 60px;
    background-color: #F8F8F2;
    border: 4px solid #C99B67;
}

.works-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    margin-bottom: 60px;
    padding: 0;
    list-style-type: none;
}

.works-item {
    position: relative;
    width: 394px;
    padding: 20px 20px 40px 20px;
    background-color: #F8F8F2;
}

.works-item::before {
    display: block;
    text-align: end;
    margin-bottom: 45px;
    font-size: 64px;
    line-height: 75px;
    color: var(--main-text-color);
    opacity: 0.8;
    content: "01";
}

.works-item:nth-child(2)::before {
    content: "02";
}

.works-item:last-child::before {
    content: "03";
}

.works-item:last-child::after {
    position: absolute;
    top: -175px;
    right: 0;
    width: 192px;
    height: 129px;
    background-image: url("../images/works-item-after.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    content: "";
}

.works-item-title-wrap {
    width: 230px;
    margin-bottom: 10px;
}

.works-item-title {
    margin: 0;
    font-size: 40px;
    font-weight: var(--font-wight-normal);
}

.works-item-descr {
    margin: 0;
    font-size: 18px;
    color: var(--main-text-color);
}

.work-link-wrap {
    margin: 0 auto;
    text-align: center;
}

.work-link {
    display: inline-block;
    padding: 16px 24px;
    font-weight: var(--font-wight-normal);
    border-radius: var(--btn-border-radius);
    background-color: #C99B67;
    color: #fff;
    text-decoration: none;
}

/* Footer */

.footer-wrap {
    background-image: url("../images/hero-bg.png");
    padding: 63px 0px;
}

.footer-inner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-list {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-item:not(:last-child) {
    margin-right: 40px;
}

.footer-item-link {
    text-decoration: none;
    color: var(--main-text-color);
    font-weight: var(--font-weight-bold);
}

.footer-link-wrap {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-link-item:not(:last-child) {
    margin-right: 30px;
}




/* *************************** */

    /* ABOUT US START    */

/* *************************** */

/* ABOUT START */

.about-us-text-wrap{
    width: 372px;
}


/* OUR COMMITMENT START */

.commitment{
    margin: 20px 20px 160px 20px;
    background-image: url("../images/collection-bg.png");
    padding: 160px 0px 200px 0px;
}

.commitment-wrap{
    position: relative;
    background-image: url("../images/cup-coffe.png");
    background-repeat: no-repeat;
    background-position: calc(50% - 330px);
}

.commitment-wrap::before{
    position: absolute;
    top: -100px;
    left: -220px;
    width: 402px;
    height: 300px;
    background-image: url("../images/leaf-danche.svg");
    background-repeat: no-repeat;
    content: "";
}

.commitment-text-wrap{
    width: 626px;
    margin-left: auto;
}

.commitment-title{
    margin: 0;
    margin-bottom: 24px;
    text-transform: uppercase;
    font-size: 48px;
    line-height: 56px;
}

.commitment-text{
    font-size: 18px;
    color: var(--main-text-color);
    line-height: 30px;
}

/* Uncompromising quality */

.quality{
    margin: 20px;
    background-image: url("../images/choose-us-bg.jpg");
}

.quality-wrap{
    position: relative;
    display: flex;
    padding: 100px 0px 118px 0px;
}

.quality-wrap::after{
    position: absolute;
    top: -80px;
    right: -120px;
    width: 550px;
    height: 500px;
    background-image: url("../images/shipping.jpg");
    background-repeat: no-repeat;
    content: "";
}

.quality-text-wrap{
    width: 639px;
    margin-left: 120px;
}

.quality-title-wrap{
    width: 397px;
}

.quality-title{
    margin: 0;
    margin-bottom: 24px;
    text-transform: uppercase;
    font-size: 50px;
    color: #fff;
    line-height: 59px;
}

.quality-text{
    margin: 0;
    font-size: 18px;
    color: #fff;
    line-height: 30px;
    opacity: 0.8;
}

/* Our headquarters */

.headquarters{
    margin: 20px 20px 50px 20px;
    padding: 50px 0px 100px 0px;
    background-image: url("../images/works-bg.png");
}

.headquarters-title{
    margin: 0;
    margin-bottom: 80px;
    text-align: center;
    color: #fff;
    font-size: 50px;
    line-height: 59px;
    text-transform: uppercase;
}

.headquarters-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.headquarters-item {
    position: relative;
    width: 433px;
    margin-right: 20px;
    padding: 140px 50px 40px 20px;
    background-color: #F8F8F2;
}

.headquarters-item:not(:first-child){
    padding-top: 187px;
}

.headquarters-item::before {
    position: absolute;
    top: 45px;
    right: 55px;
    width: 120px;
    height: 143px;
    background-image: url("../images/united-kindom.svg");
    background-repeat: no-repeat;
    margin-bottom: 45px;
    content: "";
}

.headquarters-item:nth-child(2)::before {
    height: 120px;
    background-image: url("../images/canada.svg");
}

.headquarters-item:last-child::before {
    height: 107px;
    background-image: url("../images/australia.svg");
}

.headquarters-item:last-child{
    margin-right: 0;
}

.headquarters-item-title-wrap{
    width: 230px;
}

.headquarters-item-title{
    margin: 0;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 40px;
}

.headquarters-text-list{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.headquarters-text-item{
    color: var(--main-text-color);
    line-height: 28px;
}

.headquarters-phone-link{
    color: var(--main-text-color);
    text-decoration: none;
}

